<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0"
    tools:ignore="GradleOverrides"
    package="fr.mbds.securesms">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    ERROR : com.android.volley.NoConnectionError: java.io.IOException: Cleartext HTTP traffic to baobab.tokidev.fr not permitted

    SOL: https://stackoverflow.com/questions/45940861/android-8-cleartext-http-traffic-not-permitted

    android:usesCleartextTraffic="true"
    tools:targetApi="m"
    -->
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomByGraceBK"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/CustomByGraceBK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/CustomByGraceBK">

            <!--
            intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter
            -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomByGraceBK" />

        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomByGraceBK" />

        <activity
            android:name=".CreateContactActivity"
            android:label="@string/title_activity_create_contact"
            android:theme="@style/CustomByGraceBK" />
    </application>

</manifest>